
@model HomeDownloadPdfViewModel

<h1>DownloadPdf</h1>

<p>My name is @Model.Name</p>
<table class="table table-hover">
    <tr class="d-table-row">
        <th>Season</th>
    </tr>
    <tr class="d-table-row">
        <td>
            @Model.Season
        </td>
    </tr>
</table>